<ion-view title="Problem">
  <ion-content>
    <form ng-submit="postProblem()">
      <div class="list">

        <div class="item item-divider">
          Where are you?
        </div>

        <ion-radio ng-repeat="item in places"
                   ng-value="item.value"
                   ng-model="problem.place"
                   name="place">
          {{ item.text }}
        </ion-radio>
        <label class="item item-input" ng-show="problem.place == 'other'">
          <span class="input-label">Other</span>
          <input type="text" ng-model="problem.placeOther">
        </label>

        <div class="item item-divider">
          What's the problem?
        </div>

        <ion-radio ng-repeat="item in problems"
                   ng-value="item.value"
                   ng-model="problem.problem"
                   name="problem">
          {{ item.text }}
        </ion-radio>
        <label class="item item-input" ng-show="problem.problem == 'other'">
          <span class="input-label">Other</span>
          <input type="text" ng-model="problem.problemOther">
        </label>
        <label class="item item-input">
          <span class="input-label">Detail</span>
          <textarea ng-model="problem.detail" ></textarea>
        </label>
      </div>
      <button class="button button-full button-positive" type="submit">
        Send
      </button>
    </form>

  </ion-content>
</ion-view>
