<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Sample 2</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeSampleTwo()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="postSampleTwo()">
      <div class="list">

        <div class="item item-divider">
          Did you look for some new information or knowledge today?
        </div>

        <ion-radio ng-repeat="item in yesorno"
                   ng-value="item.value"
                   ng-model="sampleTwo.didLookForInformation"
                    name="didLookForInformation">

          {{ item.text }}
        </ion-radio>
        <label class="item item-input" ng-show="sampleTwo.didLookForInformation == 'yes'">
          <span class="input-label">What did you need?</span>
          <input type="text" ng-model="sampleTwo.informationSearched">
        </label>
        <div class="item item-divider">
          Did you find what you needed?
        </div>
        <ion-radio ng-repeat="item in  yesorno"
                   ng-value="item.value"
                   ng-model="sampleTwo.findWhatNeeded"
        name="findWhatNeeded">
          {{ item.text }}
        </ion-radio>
        <div class="item item-divider" ng-show="sampleTwo.findWhatNeeded == 'yes'">
          Where did you find?
        </div>
        <ion-radio ng-repeat="item in placesToFindInformation" ng-show="sampleTwo.findWhatNeeded == 'yes'"
                   ng-value="item.value"
                   ng-model="sampleTwo.placeFoundInformation"
        name="placeFoundInformation">
          {{ item.text }}
        </ion-radio>
        <label class="item item-input"  ng-show="sampleTwo.placeFoundInformation == 'people network'">
          <span class="input-label">Who is this person?</span>
          <input type="text" ng-model="sampleTwo.personWhoGaveInformation">
        </label>
        <div class="item item-divider" ng-show="sampleTwo.placeFoundInformation == 'people network'">
          Which tool did you use?
        </div>
        <ion-radio ng-repeat="item in comunicationTools"
                   ng-value="item.value"
                   ng-model="sampleTwo.communicationToolUsed"
                   ng-show="sampleTwo.placeFoundInformation == 'people network'"
        name="communicationToolUsed">
          {{ item.text }}
        </ion-radio>
        <label class="item item-input" ng-show="sampleTwo.communicationToolUsed == 'other'">
          <span class="input-label">Other</span>
          <input type="text" ng-model="sampleTwo.communicationToolUsedOther">
        </label>

      </div>
      <button class="button button-full button-positive" type="submit">
        Send
      </button>
    </form>
  </ion-content>
</ion-modal-view>
